.home-page-wrapper{
    padding-top: 10px;
    margin: 0 20px;
    .create-wrapper {
        width: 100%;
    }
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 680px) {
            flex-direction: column;
            .blog-item {
                width: 100%;
            }
        }
    }
    .pagination{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
}